* {
	margin: 0;
	padding: 0;
}

$color-theme: rgba(151,178,226, 1);
$alt-color-theme: royalblue;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin background-size($background-size) {
  -webkit-background-size: $background-size;
     -moz-background-size: $background-size;
       -o-background-size: $background-size;
          background-size: $background-size;
}	

@media only screen and (max-width: 1024px){
	#titlebox, #projectbox {
		background-attachment: scroll;
	}
}

@media only screen and (max-width: 768px){
	#coursesUndertaken {
		font-size: 16px;
	}	
}

nav.navbar {
	margin-bottom: 0;
	overflow: hidden;
	position: fixed;
	top: 0;
	width: 100%;
	background-color: $color-theme;
	z-index: 500;
	border: 1px solid $color-theme;
	float: left;
	@include border-radius(0);
	#end-nav {
		float: right;
	}
	.navbar-brand {
		float: left;
		position: relative;
		bottom: 2px;
	}

	.navbar-nav a {
		color: black;
		font-weight: bold;
		width: 100px;
		text-align: center;
		font-family: 'Raleway', sans-serif;
		&:hover {
			transition: 1s;
			background-color: rgba(151,178,226, 0.78);;
		}
	}
}

.hiddenProfile {
	display: none;
}

#expandProfile {
	cursor: pointer;
}

i {
	font-size: 60px;
	&.fa-home {
		font-size: 25px;	
	}
}

.container {
	font-family: 'Raleway', helvetica, sans-serif;
	h1 {
		font-family: 'Raleway', helvetica, sans-serif;
		font-size: 30px;
		font-weight: bold;
	}
	&#nav-adjust {
		margin:0;
	}

	&.box {
		
		width: 100%;
		position: relative;
	  background-attachment: fixed;
	  background-position: center;
	  background-repeat: no-repeat;
		@include background-size(cover);
		.row{
			margin: 0;
		}	
	    
	    
		&#titlebox {
			box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.4);
			background-image: url("../images/macKeyboard.jpg");		
			// background-attachment: fixed;
			background-position: center;
			padding-top: 15vw;
			height: 54vw;
			color: white ;
			text-shadow: 5px 5px rgba(0,0,0,0.6);
	    	&.page-header {
				margin-bottom: 0;
	    	}
	    	h1 {
					font-size: 8vw;
					font-family: 'Raleway', helvetica, sans-serif;
					font-weight: normal;
	    	}
	    	.row {
	    		margin: 0;
	    	}


			
		}	   


		&#introbox {
			
			color: black;
			font-size: 2em;
			font-size: 20px;
			padding: 30px 40px;
			p {
				text-align: left;
				font-size: 18px;

			}

			#introPara {
				padding: 5px 10%;
				text-align: left;
			}
			
			#introPic {
				@include border-radius(5%);
				border: 3px solid $color-theme;			
			}

			.col-xs-12:first-of-type {
				margin-bottom: 20px;

			}

			.row {
				margin: 10px 20px;
			}
	
		}

		&#skillbox {
			background-color: $color-theme;
			padding-top: 40px;
			padding-bottom: 50px;
			margin-bottom: 0;

			.row:first-of-type {
				margin-bottom: 10px;
			}

			.col-xs-4 {
				margin-bottom: 20px;
			}

		}

		&#projectbox {
			background-image: url("../images/bgroundimg.jpg");
			padding: 40px 0;
			h1 {
				font-family: 'Raleway', sans-serif;
				font-weight: bold
			}
			.vertical-align {
				display: flex;
				align-items: stretch;
				justify-content: center;
				flex-wrap: wrap;
			}
			
			.projectItem {
				justify-content: space-between;
				width: 300px;
				background-color: rgba(23, 24, 97, 0.7);
				margin: 15px;
				padding: 20px;
				color: white;
				position: relative;
				display: flex;
				flex-direction: column;
				font-size: 18px;
				text-align: center;
				@include border-radius(15px);

				h3 {
					font-family: 'Raleway', sans-serif;
				}

				form {
						display: inline;
				}

				p {
					padding: 10px 5px;
				}

				.projectPic {
					height: 150px;
					width: 100%;
					margin: 10px 0;
					border: 1px solid $color-theme;
				}

				.projectButton {
					justify-content: flex-end;
					flex-wrap: nowrap;
					background-color: $color-theme;
					font-size: 20px;
					padding: 5px 10px;
					margin: 5px 5px;
					@include border-radius(15px);
					box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
					color:  rgb(23, 24, 97);
					font-weight: bold;
					border: none;
					-webkit-appearance: none;
					text-decoration: none;
					&:active {
						box-shadow: 1px 1px 1px rgba(0,0,0,0.8);
					}
					&:hover {
						color: white;
					}
					&:focus {
						outline: 0;
					}
				}
			}
		}

		&#coursebox {
			font-family: 'Raleway', helvetica, sans-serif;
			font-size: 25px;
			background-color: rgba(151,178,226, 1);
			padding: 60px 15px;
			text-align: left;
			
			.dropdown-menu {
				background-color: $color-theme;
				width: 100%;
				a {
					white-space: normal;
				}
			}
			
			#coursesUndertaken {
				padding: 0px;
			}

			#courseButton {
				font-size: 15px;
				width: 100%;
			}

			#certificateContainer {
				display: block;
				text-align: center;
			}
			.certificates {
				padding: 10px;
				width:350px;
			}

			i {
				padding-right: 10px;
			}

			ul {
				
				li {
					padding: 10px 0;
					list-style-type: none; 
					
					a {
						color: black;
						text-decoration: none;
						&:hover {
							color: white;
						}
						
					}
				}
			}
		}

		&#formbox {
			display: flex;
			justify-content: center;
			padding: 50px;
			
			.contactForm {
				padding: 10px 0;
				font-size: 20px;
				width: 100%;
				textarea {
					height: 200px;
				}
				.inputBoxes {
					width: 100%;
					border-top: 2px solid grey;
					border-bottom: 2px solid lightgray;;
					border-right: 2px solid lightgray;
					border-left: 5px solid $color-theme;
					padding-left: 5px;
				}

				.btn {
					width: 60%;
					text-align: center;
				}
				#wordCountText {
					float: right;
					font-size: 15px;
				}

			}

			#myForm {
				padding: 10px 20px;
			}

			#mySocial {
				text-align: right;
				
			}

			.profiles {
				padding: 20px 0;
				font-size: 18px;
				text-align: left;

				img {
					padding: 0 10px;
					height: 48px;
					width: 70px;
				}
				
				a {
					position: relative;
					top: 3px;
					color: black;
					text-decoration: none;
					&:hover {
						color: $alt-color-theme;
					}
				}

			}
		}

		&#footerbox {
			font-size: 10px;
			background-color: white;
			height: 40px;
			padding: 10px 20px;
			text-align: right;
		}
	}

}



