i {
  font-size: 60px; }
  i.fa-home {
    font-size: 25px; }

nav.navbar {
  margin-bottom: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #97b2e2;
  z-index: 500;
  border: 0;
  float: left;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0; }
  nav.navbar .navbar-brand {
    float: left;
    position: relative;
    bottom: 2px; }
  nav.navbar .navbar-nav a {
    color: black;
    font-weight: bold;
    width: 100px;
    text-align: center; }
    nav.navbar .navbar-nav a:hover {
      background-color: rgba(151, 178, 226, 0.78); }

.container {
  font-family: "Raleway"; }
  .container#nav-adjust {
    margin: 0; }
  .container.box {
    width: 100%;
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
    .container.box#titlebox {
      box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.4);
      background-image: url("macKeyboard.jpg");
      background-attachment: fixed;
      background-position: center;
      padding-top: 17vw;
      height: 60vw;
      color: white;
      text-shadow: 5px 5px rgba(0, 0, 0, 0.6); }
      .container.box#titlebox.page-header {
        margin-bottom: 0; }
      .container.box#titlebox h1 {
        font-size: 8vw; }
      .container.box#titlebox .row {
        margin: 0; }
    .container.box#introbox {
      color: black;
      font-size: 2em;
      font-size: 20px;
      padding: 30px 0; }
      .container.box#introbox img {
        width: 100%;
        /*@include border-radius(5%);*/
        border: 1px solid blue; }
      .container.box#introbox .col-xs-12:first-of-type {
        margin-bottom: 20px; }
      .container.box#introbox .row {
        margin: 20px 20px; }
    .container.box#skillbox {
      background-color: #97b2e2;
      padding-top: 40px;
      padding-bottom: 50px;
      margin-bottom: 0; }
      .container.box#skillbox .row:first-of-type {
        margin-bottom: 10px; }
      .container.box#skillbox .col-xs-4 {
        margin-bottom: 20px; }
    .container.box#projectbox {
      padding: 0;
      height: 50vw;
      background-image: url("bgroundimg.jpg");
      /*.row:first-of-type {
      	margin-top: 20px; 
      }*/ }
      .container.box#projectbox .carousel-caption {
        display: none; }
      .container.box#projectbox .carouselHeight img:hover ~ .carousel-caption {
        display: block; }
      .container.box#projectbox .carousel-caption:hover {
        display: block; }
      .container.box#projectbox .carouselHeight img {
        height: 50vw;
        width: auto;
        margin: auto; }
      .container.box#projectbox .thumbnail {
        background-color: #ebeff5; }
      .container.box#projectbox #projectcover {
        /*p {transform: scaleY(10) perspective(1em) rotateX(10deg) translate3d(-19%, -20%, -0.1em);}*/
        color: white;
        padding-top: 9.8vw;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 400;
        background-image: url("project-cover.jpg");
        background-size: 100% 100%;
        font-size: 5vw;
        text-align: center;
        text-shadow: 2px 2px rgba(10, 10, 255, 0.4); }
        .container.box#projectbox #projectcover #projectcovertext {
          transform: perspective(600px) rotateX(-38deg); }
        .container.box#projectbox #projectcover:hover {
          color: #229c49;
          cursor: pointer;
          text-shadow: 0 0; }
        .container.box#projectbox #projectcover p {
          font-size: 0.5em; }
    .container.box#formbox {
      padding: 50px;
      height: 50vw; }
      .container.box#formbox .contactForm {
        padding: 10px 0; }
      .container.box#formbox .profiles {
        padding: 20px 0; }

/*# sourceMappingURL=portfolio.css.map */
