$color-theme: rgb(222, 249, 224);

i {
	font-size: 60px;
}
nav.navbar {
	margin-bottom: 0;
	overflow: hidden;
	position: fixed;
	top: 0;
	width: 100%;
	background-color: $color-theme;
	z-index: 500;
}

.container {
	font-family: "Raleway";
	&.box {
		
		width: 100%;
		position: relative;
	    background-attachment: fixed;
	    background-position: center;
	    background-repeat: no-repeat;
	    background-size: cover;

		&#titlebox {
			
			background-image: url("https://www.laptopmag.com/images/wp/purch-api/incontent/2017/03/apple-macbook-air-13inch-ports.jpg");
			background-size: cover;
			padding-bottom: 20px;
			margin-top: 50px;

		}	   

		&#introbox {
			
			color: black;
			font-size: 2em;
			font-size: 20px;
			img {
					width: 100%;
					border-radius: 5%;
					border: 1px solid blue;
					
				}
			.col-xs-12:first-of-type {
				margin-bottom: 20px;
			}
			.row {
				margin: 20px 20px;
			}
	
		}

		&#skillbox {
			background-color: $color-theme;	
				
			padding-bottom: 50px;
			margin-bottom: 0;
			.row:first-of-type {
				margin-bottom: 10px;
			}
			.col-xs-4 {
				margin-bottom: 20px;
			}

		}

		&#projectbox {
			background-image: url("http://blog.websiddu.com/images/covers/sublime.jpg");
			.row:first-of-type {
				margin-top: 20px; 
			}
			.thumbnail {
				background-color: rgba(200, 255, 255, 0.7);
				img {
					padding: 50px;
				}
			}			
		}
	}

}